<h1>Troubles#country</h1>
<p>現在登録がある国だよ</p>
<p>新規の書き込み大量募集中！！！</p>

<% @countrys.each do |country| %>
  <ul>
    <li><%= country.country %></li>
    <%= link_to country.country, "http://localhost:3000/troubles/"+country.country %>
  </ul>
<% end %>