<div class="jumbotron jumbotron-extend">
  <div class="container jumbotron-container">
    <h1>Trip Dangerous</h1>
      <p>世界中の「危険な」「治安が悪い」「ひどい対応をされた」場所を集める口コミサイト</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">今すぐ書き込む</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">地域から探す</a>
  </div>
</div>
<div class="conteiner-fluid continent-select-box">
  <div class="row">
    <h2 class="text-center">地域から探す</h2>
      <a class="btn btn-primary btn-block" href="#" role="button">アジア</a>
      <a class="btn btn-primary btn-block" href="#" role="button">北アメリカ</a>
      <a class="btn btn-primary btn-block" href="#" role="button">南アメリカ</a>
      <a class="btn btn-primary btn-block" href="#" role="button">ヨーロッパ</a>
      <a class="btn btn-primary btn-block" href="#" role="button">オーストラリア</a>
      <a class="btn btn-primary btn-block" href="#" role="button">アフリカ</a>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 full-image-alone"></div>
        <div class="col-md-6 d-flex align-items-center full">
          <h2>海外旅行で不快な思いをしたこと、<br>ありませんか？</h2>
          <p>海外旅行に行った時に、危険な思いをした。<br>治安が悪かった。<br>そう思ったこと、ありますよね？<br>TripDangerousは、そんな場所を口コミで集めるサイトです。</p>

        </div>
    </div>
</div>
